.navbar-default {
    background-color: #333 !important;
    border-color: #e7e7e7;
    margin: 0 auto;
}

.nav.navbar-nav {
    justify-content: center;
    flex-wrap: wrap;
    font-size:16px;
    text-align:center;
}

.Logo{
    float: left;
    text-decoration: none;
    width: 13%;
    height: 13%;
}

.LogoutBtn{
    float:right;
    text-decoration:none;
}

nav a.active{
    color: #080808 !important;
    background-color: #337ab7 !important;
}

nav a:hover{
    background-color: #337ab7 !important;
}
.nav>li{
    margin: 0 auto;
    width: 89%;
}

.navbar-default .navbar-nav>li>a {
    color: #f5f5f5 !important;
}

@media (min-width: 768px) {
.navbar-default {
    background-color: #333 !important;
    border-color: #e7e7e7;
    height: 9vh;
    width: 91%;
    margin: 0 auto;
}

.nav.navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size:16px;
    float:right;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #080808 !important;
    background-color: #337ab7 !important;
    font-weight:bold;
}
.Logo{
    float: left;
    text-decoration: none;
    width: 64px;
    height: 46px;
    margin-top: 3px;
}
.nav>li{
    margin-left:15px;
    width:27%;
}
}

@media (min-width: 1300px) {

    .Logo{
        float: left;
        text-decoration: none;
        width: 80px;
        height: 64px;
        margin-top: 3px;
    }

    .navbar-nav>li>a{
        line-height:35px;
    }
}
