<!--Contacts component-->
<div class="ContactsContainer">
  <div class="BlockTitle">Contacts</div>
  <div class="ContactsEdit">
      <input class="ContactNameAdd" type="text" placeholder="Contact Name" #contactName>
      <input class="ContactNumberAdd" type="text" placeholder="Phone" #contactPhone>
      <button class="ContactAddBtn" (click) = "AddContacts(contactName.value,contactPhone.value); contactName.value=''; contactPhone.value='';" id="AddContactBtn">Add</button>
  </div>
  
  <!--Contacts table container-->
  <div class="ContactsTableContainer">
      <table class="table-contain">
          <thead class="table-head">
              <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Remove</th>
              </tr>
          </thead>
          <tbody class="table-body">
              <tr *ngFor = "let contact of contacts">
                  <td>{{ contact.name }}</td>
                  <td>{{ contact.phone }}</td>
                  <td><div><img src="../../../images/Xbtn.png" width="23px" height="23px" (click)="delete(contact)"></div></td>
              </tr>
          </tbody>
      </table>
  </div>
</div>