<div class="col-md-12" id="StatContainerColumn" >
    
    <div cass="row">
        <div class="col-md-12" id="PageTitleDiv">
                <h1 class="PageTitle">Statistics</h1>
        </div>
        
    </div>
    <div class="InfoDisplayContainer">
            <div class="row">
                    <div class="col-md-12">
                        <div class="DetailsContainerDiv" >
                            <div class="imageDiv"><img src="../../../images/googleGraph.png" id="graphImg"></div>
                        </div>
                    </div>
            </div>
    </div>
</div>

